.cart {
    margin: 40px;
}

.cart h3 {
    text-align: center;
    /* margin-bottom: 0; */
}


.cart-table {
    line-height: 1.6;
    margin: 0;
}
/* table */

table {
    margin: auto;
    border-style: none;
    border-collapse: collapse;
    border-spacing: 0;
    width: auto;
    min-width: 300px;
    height: 100%;
}

td, th {
    padding: 40px 40px;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    vertical-align: middle;
    
}

tbody td {
    color: #5A6A72;

}

tfoot td {
    color: black;
    text-align: right;

}
tbody tr:hover, tfoot tr:hover {
    background-color: #F0F3F4;
}

thead th, tbody td {
    text-align: center;
}

/* checkout */
#checkout {
    text-align: center;
    margin-top: 50px;
}

#checkout-btn {
    display: inline-block;
    background-color: #7C4DFF;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
}

#checkout-btn:hover {
    background-color: #895eff; 
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.300);
          box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.300);
}
