a:focus { 
    outline: none; 
}

a:visited { 
    text-decoration: none; 
}

/* section IDs */
#showcase {
    min-height: 400px;
}

.boxes {
    text-align: center;
    margin-bottom: 100px;
}

#caption {
    text-align: center;
    margin-bottom: 100px;
    
}

/* Buttons */

a.btn1 {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    color: inital;
    background-color: #7C4DFF;
    color: #FFFF;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    
        
}



a.btn1:hover {
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.300);
          box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.300);

    background-color: #895eff;
}


/* Logo List */
#logo-list {
    display: flex;
    flex-direction: row;

}

#logo-list img {
    margin: auto;
}

#btm-ad {
    height: auto;
     width: 100vw; 

}

/* sale-list */
#sale-list {
    display: flex;
    flex-direction: row;
}

#sale-list img {
    margin: auto;
    /* width: auto; */
}